
<table class="table table-striped">

  <tr>
    <td>编号</td>
    <td>名称</td>
    <td>性别</td>
    <td>部系</td>
    <td>操作</td>
  </tr>

  <% @teas.each do|ar| %>
      <tr>
        <td><%=ar.id%></td>
        <td><%=ar.tname%></td>
        <td><% if(ar.tsex == 0) %><p>男</p><% end %><% if(ar.tsex == 1) %><p>女</p><% end %></td>
        <td><%=Department.find(ar.tdepartmentNo).dename %></td>
        <td>
          <%=link_to "删除", {:controller=>:teachers,:action=>:destroy, :id=>ar}, :method=>:delete  %>|
          <%=link_to "修改", edit_admin_teacher_path(ar) %>
        </td>
      </tr>
  <% end %>
</table>
